*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--body-color   );
}
:root{
--body-color:#f7f7f7;
--secondary-bg-color:#D9D9D9;
--button-bg-color:#d9d9d9;
--primary-f-color:#000000;
--secondary-f-color:#535353;
--footer-bg-color:#000000;
--footer-f-color:#ffffff;
}
@font-face {
    font-family: head;
    src: url(../Assets/fonts/Monda/Monda-Bold.ttf);
}
@font-face {
    font-family: sub-head;
    src: url(../Assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf);
}
@font-face {
    font-family:para;
    src: url(../Assets/fonts/Junge/Junge-Regular.ttf);
}

nav{
    height: 80px;
    width: 100%;
    background-color:var(--body-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    z-index: 999;
}
nav img{
    height: 200px;
    height: 100px;
}
nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 10px;
   
}
.nav-links{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: var(--primary-f-color);
    position: relative;
    font-family:sub-head;
}
.nav-links a::after{
    content: "";
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -4px;
    position: absolute;
    background-color: #000000;
    transition:  0.5s;
}
.nav-links a:hover::after{
    width: 100%;
}
nav .nav-links .fa-xmark{
    display: none;
}
nav .fa-bars{
    display: none;
}
.container{
    padding: 0px 56px;
}
/* -------Page1--------- */
.page1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
.page1 .left-col h1{
    font-family:head;
    font-size: 60px;
}
.page1 .left-col .page1head{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.page1 .left-col .page1head .char{
    transform:translateY(100px);
    transition: transform .3s;
}
.page1 .right-col img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
/* -------Page2------- */
.page2{
    width: 100%;
    padding: 30px;
    margin-top: 30px;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
}
.page2 p{
    font-size: 20px;
    font-family:sub-head;
}
/* ---------Page3--------- */
.page3{
    margin-top: 30px;
    padding: 0;
}
.page3 h1{
    font-size:60px;
    font-family:head;
}
.page3 .page3head{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.page3 .page3head .char{
    transform:translateY(100px);
    transition: transform .5s;
}
.page3 .first-ex{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eed9d9;
    border-radius: 20px;
}
.page3 .first-ex h2{
    font-size: 25px;
    font-family:sub-head;
}
.page3 .first-ex p{
    font-size: 15px;
    font-family:para;
}
.page4{
    margin-top: 20px;
}
.page4 h2{
    font-size: 60px;
    font-family:head;
}
.page4 .page4head{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.page4 .page4head .char{
    transform:translateY(100px);
    transition: transform .5s;
}
 .page4 .education{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding: 0px 20px;
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.page4 .education p{
    font-size: 25px;
    font-family:para; 
}
.footer{
    margin-top: 40px;
    width: 100%;
    padding:50px 100px;
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left-col h1{
    font-size: 60px;
    font-family:head;
    color: #ffffff;
    line-height: 100px;
}
.footer .left-col .footerhead{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.footer .left-col .footerhead .char{
    transform:translateY(175px);
    transition: transform .5s;
}
.footer .right-col {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer .right-col a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    position: relative;
    font-family:sub-head;
}

.designed_developed_by{
    padding: 20px;
    background-color: var(--footer-bg-color);
}
.designed_developed_by p{
    font-size: 15px;
    color: #545454;
    text-decoration: underline;
    text-align: center;
    font-family:para;
}
@media only screen and (max-width:600px){
    nav .fa-bars{
     display: block;
     font-size: 25px;
    }
    nav .nav-links{
     height: 150px;
     width: 100%;
     background-color:var(--body-color);
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     left: 0;
     top: -300px;
     transition: top ease-in-out;
     
    }
    nav .nav-links .fa-xmark{
     display: block;
     position: absolute;
     font-size: 30px;
     top: -60px;
     right: 25px;
     z-index: 3;
     background: var(--body-color);
 
    }
   
     .container{
         width: 100%;
         padding: 0px 40px;
     }
    .page1{
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    .page1 .left-col h1{
        font-size: 40px;
    }
    .page1 .right-col img{
        height: 200px;
        width: 200px;
    }
    .page2 p{
        font-size: 15px;
    }
    .page3 h1{
        font-size: 40px;
    }
    .page3 .first-ex{
        height: 100px;
        padding: 0px 10px;
    }
    .page3 .first-ex h2{
        font-size: 15px;
    }

    .page3 .first-ex p{
        font-size: 10px;
    }
    .page4 h2{
        font-size: 40px;
    }
    .page4 .education{
        height: 100px;
    }
    .page4 .education p{
        font-size: 15px;
    }
     .footer{
         flex-direction: column;
         gap: 3rem;
     }
     .footer .left-col .footerhead{
         font-size: 30px;
         line-height: 50px;
     }
 }

 @media screen and (min-width: 1441px) {
    .container{
      margin-left: 200px;
      margin-right: 200px;
    }
    nav{
     padding-left: 210px;
     padding-right: 210px;
    }
  }