@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--body-color);
}
:root{
    --body-color:#f7f7f7;
    --secondary-bg-color:#D9D9D9;
    --button-bg-color:#d9d9d9;
    --primary-f-color:#000000;
    --secondary-f-color:#535353;
    --footer-bg-color:#000000;
    --footer-f-color:#ffffff;
}
@font-face {
    font-family: head;
    src: url(../Assets/fonts/Monda/Monda-Bold.ttf);
}
@font-face {
    font-family: sub-head;
    src: url(../Assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf);
}
@font-face {
    font-family:para;
    src: url(../Assets/fonts/Junge/Junge-Regular.ttf);
}
nav{
    height: 80px;
    width: 100%;
    background-color:var(--body-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    z-index: 999;
}
nav img{
    height: 200px;
    height: 100px;
}
nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 10px;
   
}
.nav-links{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: var(--primary-f-color);
    position: relative;
    font-family:sub-head;

}
.nav-links a::after{
    content: "";
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -4px;
    position: absolute;
    background-color: #000000;
    transition:  0.5s;
}
.nav-links a:hover::after{
    width: 100%;
}
nav .nav-links .fa-xmark{
    display: none;
}
nav .fa-bars{
    display: none;
}
.container{
    padding: 50px 56px;
}

.contact_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.contact_heading .contacthead{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.contact_heading .contacthead .char{
    transform:translateY(100px);
    transition: transform .5s;
}
.contact_heading h1{
    font-size: 50px;
    font-family:head;
}
.contact_heading p{
    font-size: 20px;
    color:var(--secondary-f-color);
    font-family:sub-head;
}
.contact_heading .contactsubhead{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.contact_heading .contactsubhead .char{
    transform:translateY(100px);
    transition: transform .5s;
}
.page1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1 .left-col{
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.page1 .left-col .get_in_touch{
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
    height: 345px;
    padding: 100px;
}
.page1 .left-col .get_in_touch h4{
    font-size: 40px;
    text-align: center;
    font-family:head;
    font-weight: 900;
    line-height: 50px;
}


/* ------------contact_form------------ */
.page1 .right-col{
    flex-basis: 50%;
    padding: 10px;
}
.page1 .right-col form{
    text-align: center;
    border-radius: 20px;
}
.page1 .right-col form{
    width: 100%;
    padding: 20px 8px;
    background-color: #262626;
}
.page1 .right-col form .name{
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.page1 .right-col form .email{
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.page1 .right-col form .subject{
    width: 91%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
}
.page1 .right-col form #message{
    width: 91%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.page1 .right-col form .submit_btn{
    width: 91%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #000000;
    color: #ffffff;
    border: none;
}
.footer{
    margin-top: 40px;
    width: 100%;
    padding:50px 100px;
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left-col h1{
    font-size: 60px;
    font-family:head;
    color: #ffffff;
    line-height: 100px;
}
.footer .left-col .footerhead{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.footer .left-col .footerhead .char{
    transform:translateY(175px);
    transition: transform .5s;
}
.footer .right-col {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer .right-col a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    position: relative;
    font-family:sub-head;
}

.designed_developed_by{
    padding: 20px;
    background-color: var(--footer-bg-color);
}
.designed_developed_by p{
    font-size: 15px;
    color: #545454;
    text-decoration: underline;
    text-align: center;
    font-family: para;
}
@media only screen and (max-width:600px){
    nav .fa-bars{
     display: block;
     font-size: 25px;
    }
    nav .nav-links{
     height: 150px;
     width: 100%;
     background-color:var(--body-color);
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     left: 0;
     top: -300px;
     transition: top ease-in-out;
     
    }
    nav .nav-links .fa-xmark{
     display: block;
     position: absolute;
     font-size: 30px;
     top: -60px;
     right: 25px;
     z-index: 3;
     background: var(--body-color);
 
    }
   
     .container{
         width: 100%;
         padding: 50px 30px;
     }
     .contact_heading{
        justify-content: space-between;
     }
     .contact_heading h1{
        font-size: 30px;
     }
     .contact_heading p{
        font-size: 10px;
     }
     .page1{
        display: block;
     }
     .page1 .left-col{
        width: 360px;
     }
     .footer{
         flex-direction: column;
         gap: 3rem;
     }
     .footer .left-col h1{
         font-size: 50px;
         line-height: 80px;
     }
 }
