*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: var(--body-color   );
}
:root{
--body-color:#f7f7f7;
--secondary-bg-color:#D9D9D9;
--button-bg-color:#d9d9d9;
--primary-f-color:#000000;
--secondary-f-color:#535353;
--footer-bg-color:#000000;
--footer-f-color:#ffffff;
}
@font-face {
    font-family: head;
    src: url(../Assets/fonts/Monda/Monda-Bold.ttf);
}
@font-face {
    font-family: sub-head;
    src: url(../Assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf);
}
@font-face {
    font-family:para;
    src: url(../Assets/fonts/Junge/Junge-Regular.ttf);
}
.cursor{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #D14A52;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
    box-shadow: 0 0 20px 20px #D14A52;
}
nav{
    height: 80px;
    width: 100%;
    background-color:var(--body-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    z-index: 999;
}
nav img{
    height: 200px;
    height: 100px;
   
}
nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 10px;
   
}
.nav-links{
    list-style: none;
    position: relative;
}
.nav-links a{
    text-decoration: none;
    color: var(--primary-f-color);
    position: relative;
    font-family: sub-head;
}
.nav-links a::after{
    content: "";
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -4px;
    position: absolute;
    background-color: #000000;
    transition:  0.5s;
}
.nav-links a:hover::after{
    width: 100%;
}
.container{
    padding: 0px 56px;
}
nav .nav-links .fa-xmark{
    display: none;
}
nav .fa-bars{
    display: none;
}
/* -------------------Page1---------------------- */
.page1{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-top: 160px;
     position: relative;
}
.page1 .left-col h1{
    font-family: head;
    font-size: 60px;
    z-index: 2;
}
.page1 .page1-head {
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.page1 .page1-head .char{
    transform:translateY(170px);
    transition: transform .5s;
}
.page1 .right-col p{
    font-family: sub-head;
    font-size: 20px;
    z-index: 2;
}
.page1 .right-col .page_sub-head{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);  
}
.page1 .right-col .page_sub-head .char{
    transform:translateX(180px);
    transition: transform .5s;
}
.page1 .right-col button{
    margin-top: 20px;
    width: 133px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    z-index: 2;
}
.page1 .right-col .resume-btn a,
.page1 .right-col .projects-btn a{
     text-decoration: none;
     color: var(--secondary-f-color);
}
/* ---------------------Page2----------------- */
.page2{
   
    width: 100%;
    align-items: center;
}
 .page2 .about-wrapper{
    height: 70%;
    width: 100%;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 40px;
    padding:10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     transform:scale(1);
} 

.page2 a{
    text-decoration: none;
    color: var(--primary-f-color);
}

.about-wrapper .left-col h1{
    font-size: 40px;
    font-family: head;
}
.about-wrapper .left-col h3{
    font-size: 30px;
    font-family: head;
    margin-top: 20px;
    font-weight: 400;
}
.about-wrapper .right-col img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
/* ----------------page3------------ */
.page3{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 16px;
}
.page3 .left-col{
    height: 280px;
    flex-basis: 70%;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    padding: 30px;
}
.page3 .left-col p{
    font-size: 20px;
    line-height: 25px;
    font-family:sub-head;
}
.page3 a{
    flex-basis: 35%;
}
.page3 .right-col{
    background-color: pink;
    height: 280px;
    padding: 10px;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    transform: scale(1);
}

.page3 .right-col h4{
    font-size: 40px;
    text-align: end;
    margin-top: 140px;
    line-height: 40px;
    color: var(--secondary-f-color);
    font-family:head;
}

.page4{
    padding: 0;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page4 .design_tech{
    height: 250px;
    width: 300px;
    background-color: #76b2f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.page4 .design_tech h1{
    font-size: 35px;
    color:#ffffff ;
    font-family:head;
}
.page4 .ui_ux {
    height: 250px;
    width: 300px;
    background-color: #D14A52;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 0.5rem;
}
.page4 .ui_ux i{
    font-size: 50px;
    color: #ffffff;
}
.page4 .ui_ux h3{
    font-size: 30px;
    color: #ffffff;
    font-family:head;
}
.page4 .ui_ux p{
    font-size: 20px;
    color: #ffffff;
    font-family:para;
}
.page4 .frontend{
    height: 250px;
    width: 300px;
    background-color: #777777;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 0.5rem;
}
.page4 .frontend i{
    font-size: 50px;
    color: #ffffff;
}
.page4 .frontend h3{
    font-size: 30px;
    color: #ffffff;
    font-family:head;
}
.page4 .frontend p{
    font-size: 20px;
    color: #ffffff;
    font-family:para;
}
.page5{
    width: 100%;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page5 a{
    text-decoration: none;
    color: #000000;
}
.page5 .project-1{
    background-color:#535353;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    transform: scale(1);
}

.page5 .project-1 h1{
    font-size: 30px;
    font-family:head;
}
.page5 .project-1 p{
    font-size: 15px;
    color: var(--button-bg-color);
    font-family:para;
} 
.page5 .project-1 img{
    margin-top: 30px;
    border-radius: 20px;
}
.page5 .project-2{
    background-color:#FF9D73;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    transform: scale(1);
}

.page5 .project-2 h1{
    font-size: 30px;
    font-family:head;
}
.page5 .project-2 p{
    font-size: 15px;
    color: #000000;
    font-family: para;
} 
.page5 .project-2 img{
    margin-top: 30px;
    border-radius: 20px;
}
.page5 .project_page_link{
    width: 100%;
    padding: 40px;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
    transform: scale(1);
}

.page5 .project_page_link p{
    font-size: 25px;
    text-align: center;
    font-family:sub-head;
}
.page5 .project_page_link span{
    font-size: 32px;
}
.footer{
    margin-top: 40px;
    width: 100%;
    padding:50px 100px;
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left-col h1{
    font-size: 60px;
    font-family:head;
    color: #ffffff;
    line-height: 100px;
}
.footer .left-col .footerhead{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.footer .left-col .footerhead .char{
    transform:translateY(175px);
    transition: transform .5s;
}
.footer .right-col {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer .right-col a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    position: relative;
    font-family: sub-head;
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer .right-col .onhover_msg-email,
.footer .right-col .onhover_msg-github,
.footer .right-col .onhover_msg-twitter,
.footer .right-col .onhover_msg-linkedin{
    font-size: 15px;
    color:white;
    background: #0273f4;
    padding: 10px;
    border-radius: 12px;
    display: none;
    transition: 0.5s ease-in;
}

.designed_developed_by{
    padding: 20px;
    background-color: var(--footer-bg-color);
}
.designed_developed_by p{
    font-size: 15px;
    color: #545454;
    text-decoration: underline;
    text-align: center;
    font-family: para;
}

@media only screen and (max-width:600px){
    nav .fa-bars{
     display: block;
     font-size: 25px;
    }
    nav .nav-links{
     height: 150px;
     width: 100%;
     background-color:var(--body-color);
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     left: 0;
     top: -300px;
     transition: top ease-in-out;
     
    }
   
    nav .nav-links .fa-xmark{
     display: block;
     position: absolute;
     font-size: 30px;
     top: -60px;
     right: 25px;
     z-index: 3;
     background: var(--body-color);
 
    }
   
     .container{
         width: 100%;
         padding: 0px 40px;
     }
     .page1{
         display: block;
         width: 100%;
     }
     .page1 .left-col h1{
         font-size: 50px;
         margin-bottom: 20px;
     }
     .page2 .about-wrapper{
         display: block;
         width: 100%;
     }
     .about-wrapper .left-col h3{
         margin-top: 10px;
     }
     .about-wrapper .right-col img{
         height: 200px;
         width: 200px;
         margin-top: 30px;
     }
     .page3{
         display: flex;
         flex-direction: column;
     }
   
     .page4{
         flex-direction: column;
         gap: 15px;
     }
     .footer{
         flex-direction: column;
         gap: 3rem;
     }
     .footer .left-col .footerhead{
         font-size: 30px;
         line-height: 50px;
     }
   
 }
@media only screen and (min-width:600px) {
 
     

    .page1 .left-col h1{
        font-size: 60px;
    }
    .about-wrapper .left-col h1{
        font-size: 30px;
    }
    .about-wrapper .left-col h3{
        font-size: 20px;
    }
    .about-wrapper .right-col img{
        height: 250px;
        width: 250px;
    }
    .page3 .left-col p{
        font-size: 18px;
        line-height: 25px;
    }
    .page3 .right-col{
        height: 280px;
    }
    .page4{
        display: flex;
        align-items: center;
        justify-content:center;
        gap: 20px;
    }
    .page4 .design_tech,
    .page4 .ui_ux,
    .page4 .frontend{
        width: 350px;
    }
    .footer{
        padding: 50px 65px;
    }
}
@media only screen and (min-width:1200px){
.page2 {
height:500px;

}
.page2 .about-wrapper{
    height: 100%;
}
.page2 .left-col h1{
    font-size: 50px;
}
.page2 .left-col h3{
    font-size: 40px;
}
.page2 .right-col img{
    height: 350px;
    width: 350px;

}
.page3{
    height: 500px;
}
.page3 .left-col{
    height: 100%;
}
.page3 .right-col{
    height: 100%;
}
.page3 .left-col p{
    font-size: 45px;
    line-height: 40px;
}
.page3 .right-col h4{
    font-size: 60px;
}
.page4{
    width: 100%;
    height: 500px;
    padding: 0;
    margin-top: 15px;
}
.page4 .design_tech{
    width: 450px;
    height: 100%;
}
.page4 .ui_ux{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page4 .frontend i,
.page4 .ui_ux i{
    font-size: 70px;
}
.page4 .frontend h3,
.page4 .ui_ux h3{
    font-size: 60px;
}
.page4 .frontend p,
.page4 .ui_ux p{
    font-size: 25px;
    text-align: center;
}
.page4 .frontend{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}

