*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    scrollbar-width: none;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:var(--body-color) ;
}
:root{
    --body-color:#f7f7f7;
    --secondary-bg-color:#D9D9D9;
    --button-bg-color:#d9d9d9;
    --primary-f-color:#000000;
    --secondary-f-color:#535353;
    --footer-bg-color:#000000;
    --footer-f-color:#ffffff; 
}
@font-face {
    font-family: head;
    src: url(../Assets/fonts/Monda/Monda-Bold.ttf);
}
@font-face {
    font-family: sub-head;
    src: url(../Assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf);
}
@font-face {
    font-family:para;
    src: url(../Assets/fonts/Junge/Junge-Regular.ttf);
}
nav{
    height: 80px;
    width: 100%;
    background-color:var(--body-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    z-index: 999;
}
nav img{
    height: 200px;
    height: 100px;
   
}
nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 10px;
   
}
.nav-links{
    list-style: none;
    position: relative;
}
.nav-links a{
    text-decoration: none;
    color: var(--primary-f-color);
    position: relative;
    font-family:sub-head;
}
.nav-links a::after{
    content: "";
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -4px;
    position: absolute;
    background-color: #000000;
    transition:  0.5s;
}
.nav-links a:hover::after{
    width: 100%;
}

nav .nav-links .fa-xmark{
    display: none;
}
nav .fa-bars{
    display: none;
}
.container{
    padding: 80px 56px;
}
.my-work_heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-work_heading h1{
    font-size:50px;
    font-family:head;
}
.my-work_heading .myworkhead{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.my-work_heading .myworkhead .char{
    transform:translateY(100px);
    transition: transform .5s;
}
.my-work_heading p{
    font-size: 20px;
    color: var(--secondary-f-color);
    font-family:sub-head;
}
.my-work_heading .myworksub-head{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.my-work_heading .myworksub-head .char{
    transform:translateY(100px);
    transition: transform .5s;
}
.my-work_page{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;
}
.my-work_page a{
    text-decoration: none;
    color: #f7f7f7;
}
.my-work_page .projectcard1{
    transform: scale(1);
}
.my-work_page .projectcard2{
    transform: scale(1);
}
.my-work_page .projectcard3{
    transform: scale(1);
}
.my-work_page .projectcard4{
    transform: scale(1);
}
.my-work_page .project-card{
    background-color:#535353;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px; 
    width: 400px;
}

.my-work_page .project-card h1{
    font-size: 20px;
    font-family:head;
}
.my-work_page .project-card p{
    font-size: 10px;
    color: var(--button-bg-color);
    font-family: para;
}
.my-work_page .project-card img{
    border-radius: 15px;
}
.footer{
    margin-top: 40px;
    width: 100%;
    padding:50px 100px;
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left-col h1{
    font-size: 60px;
    font-family:head;
    color: #ffffff;
    line-height: 100px;
}
.footer .left-col .footerhead{
    font-kerning: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.footer .left-col .footerhead .char{
    transform:translateY(175px);
    transition: transform .5s;
}
.footer .right-col {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer .right-col a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    position: relative;
    font-family:sub-head;
}

.designed_developed_by{
    padding: 20px;
    background-color: var(--footer-bg-color);
}
.designed_developed_by p{
    font-size: 15px;
    color: #545454;
    text-decoration: underline;
    text-align: center;
    font-family: para;
}
@media only screen and (max-width:600px){
    nav .fa-bars{
     display: block;
     font-size: 25px;
    }
    nav .nav-links{
     height: 150px;
     width: 100%;
     background-color:var(--body-color);
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     left: 0;
     top: -300px;
     transition: top  ease-in-out;
     
    }
    nav .nav-links .fa-xmark{
     display: block;
     position: absolute;
     font-size: 30px;
     top: -60px;
     right: 25px;
     z-index: 3;
     background: var(--body-color);
 
    }
   
     .container{
         width: 100%;
         padding: 70px 40px;
     }
    .my-work_heading {
        flex-direction: column;
    }
     .footer{
         flex-direction: column;
         gap: 3rem;
     }
     .footer .left-col .footerhead{
         font-size: 30px;
         line-height: 50px;
     }
 }